# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../:\Abdulloh\Inha University\Assignments Sophomore\2- Internet Programming\Labs\lab-8-Alimov-8\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
